.display-card {
  background-color: pink;
  width: 80vw;
  margin: auto;
  border: 2px solid red;
  border-radius: 20px;
}
.header{
  text-align: center;
  font-size: 40px;
}
.add-items-form {
  background-color: rgba(13, 227, 13, 0.532);
  width: 60vw;
  height: 65vh;
  margin: 10px auto;
  border: 2px solid green;
  border-radius: 20px;
  padding: 10px;
}

#todo-item{
  margin: 15px 10px;
  color: white;
  border: 2px solid rgba(255, 0, 0, 0.995);
  border-radius:20px;
  padding: 10px;
  height: 15%;
  background-color:rgb(255, 14, 14);
}